{% extends 'admin/index.html.twig' %}

{% block content %}

  <div class="row">
    <div class="col-md-push-8 col-md-4">
      {% if entity is defined %}
      {{ form(entityDeleteForm, {'attr': {'class': 'form-inline pull-right'}}) }}
      <form class="pull-right" style="margin-right: 10px" method="post" action="{{ path('admin_users_reset_password', {"userId": entity.id}) }}">
        <button class="btn btn-primary">{{ 'admin.users.send_password_reset'|trans }}</button>
      </form>
      {% endif %}
    </div>
    <div class="col-md-pull-4 col-md-8">
      <h2>{{ entity is defined ? 'admin.users.edit_user'|trans({ '%name%': entity.username }) : 'admin.users.new_user'|trans }}</h2>
    </div>
  </div>
  {{ form_start(entityEditForm) }}
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{'admin.users.base_info'|trans}}</h3>
        </div>
        <div class="panel-body">
          {{ form_row(entityEditForm.username) }}
          {{ form_row(entityEditForm.email) }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right clearfix">
        {{ form_end(entityEditForm, {"render_rest": true}) }}
      </div>
    </div>
  </div>
{% endblock %}
