<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block style %}
      <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
      <link rel="stylesheet" href="{{ asset('css/karambol.css') }}">
    {% endblock %}
  </head>
  <body class="karambol {{  app.request.get('_route') }}">
    {{
      appendScript([
        'vendor/jquery/jquery.min.js',
        'vendor/bootstrap/js/bootstrap.min.js'
      ])
    }}
    {{ block('body') }}
    {% block javascript %}
      {{ renderScripts() }}
    {% endblock %}
  </body>
</html>
