{% extends 'admin/index.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h2>{{ 'admin.users.new_user'|trans }}</h2>
      {{ form_start(form) }}
      <table class="table table-hovered">
        <thead>
          <tr>
            <th>{{ 'admin.users.attribute_name'|trans }}</th>
            <th>{{ 'admin.users.attribute_value'|trans }}</th>
            <th>{{ 'admin.users.actions'|trans }}</th>
          </tr>
        </thead>
        <tbody id="attributes-holder">
          {% for attr in form.attributes %}
            <tr>
              <td>{{form_widget(attr.name)}}</td>
              <td>{{form_widget(attr.value)}}</td>
              <td><button class="remove-attribute btn btn-danger">{{ 'admin.users.remove_attribute'|trans }}</button></td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td><input id="new-attribute-name" class="form-control" type="text" /></td>
            <td><input id="new-attribute-value" class="form-control" type="text" /></td>
            <td><button id="add-attribute" class="btn btn-primary">{{ 'admin.users.add_attribute'|trans }}</button></td>
          </tr>
        </tfoot>
      </table>
      <template id="new-attribute-template">
        <tr>
          <td><input class="form-control" type="text" name="form[attributes][__index__][name]" /></td>
          <td><input class="form-control" type="text" name="form[attributes][__index__][value]" /></td>
          <td><button class="remove-attribute btn btn-danger">{{ 'admin.users.remove_attribute'|trans }}</button></td>
        </tr>
      </template>
      {% do form.attributes.setRendered %}
      {{ form_end(form, {"render_rest": true}) }}
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script src="{{ asset('js/admin-users.js') }}"></script>
{% endblock %}
