<nav class="navbar navbar-default navbar-static-top karambol-header">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#karambol-header-navbar-collapse" aria-expanded="false">
        <span class="sr-only">{{'home.toggle_navigation' | trans}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('home') }}">
        <img alt="Logo" height="30" class="karambol-inline" src="{{asset('img/logo.svg')}}"> {{ app.settings.get('portal_title') }}
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="karambol-header-navbar-collapse">
      {{ menu('home_main') }}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
