{% extends 'admin/index.html.twig' %}

{% block content %}

  <div class="row">
    <div class="col-md-push-8  col-md-4 text-right">
      {% if page is defined %}
        {{ form(deleteForm, {'attr': {'class': 'form-inline'}}) }}
      {% endif %}
    </div>
    <div class="col-md-pull-4 col-md-8">
      <h2>{{ page is defined ? 'admin.pages.edit_page'|trans : 'admin.pages.new_page'|trans }}</h2>
    </div>
  </div>
  {{ form_start(pageForm) }}
  <div class="row">
    <div class="col-md-12">
      {{ form_row(pageForm.label) }}
      {{ form_row(pageForm.url) }}
      <div class="pull-right clearfix">
        {{ form_end(pageForm, {"render_rest": true}) }}
      </div>
    </div>
  </div>

{% endblock %}
