<div class="container">
  <div class="row karambol-spacedup">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'auth.login_title' | trans }}</h3>
        </div>
        <div class="panel-body">
          <form class="form" action="{{path('login_check')}}" method="post">
            <label for="login-username">{{ 'auth.username' | trans }}</label>
            <input id="login-username" name="_username" type="text" class="form-control" value="{{lastUsername}}" />
            <label for="login-password">{{ 'auth.password' | trans }}</label>
            <input id="login-password" name="_password" type="password" class="form-control" />
            <div class="container-fluid">
              <div class="row" style="margin-top:15px;">
                <div class="col-md-6 karambol-no-padding">
                  <small>
                    <a href="#">{{ 'auth.forget_password'| trans }}</a><br />
                    <a href="{{ path('register') }}">{{ 'auth.no_account'| trans }}</a>
                  </small>
                </div>
                <div class="col-md-6 karambol-no-padding">
                  <div class="clearfix">
                    <button type="submit" class="btn btn-primary pull-right">{{ 'auth.login_submit' | trans }}</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
