<div class="table-responsive">
  <table class="table table-hovered">
    <thead>
      <tr>
        <th>{{ 'admin.rules.condition'|trans }}</th>
        <th>{{ 'admin.rules.action'|trans }}</th>
        <th>{{ 'admin.rules.actions'|trans }}</th>
      </tr>
    </thead>
    <tbody id="rules-holder">
      {% for rule in rulesetForm.rules %}
        <tr>
          <td>{{form_widget(attr.name)}}</td>
          <td>{{form_widget(attr.value)}}</td>
          <td><button class="remove-rule btn btn-danger">{{ 'admin.rules.remove_rule'|trans }}</button></td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td><input id="new-rule-condition" class="form-control" type="text" /></td>
        <td><input id="new-rule-action" class="form-control" type="text" /></td>
        <td><button id="add-rule" class="btn btn-primary">{{ 'admin.rules.add_rule'|trans }}</button></td>
      </tr>
    </tfoot>
  </table>
  <template id="new-rule-template">
    <tr>
      <td><input class="form-control" type="text" name="ruleset[rules][__index__][name]" /></td>
      <td><input class="form-control" type="text" name="ruleset[rules][__index__][value]" /></td>
      <td><button class="remove-rule btn btn-danger">{{ 'admin.rules.remove_rule'|trans }}</button></td>
    </tr>
  </template>
</div>
