<div class="table-responsive">
  <table class="table table-hovered table-condensed">
    <thead>
      <tr>
        <td>#</td>
        <th>{{ 'admin.rules.condition'|trans }}</th>
        <th>{{ 'admin.rules.action'|trans }}</th>
        <th>{{ 'admin.rules.operations'|trans }}</th>
      </tr>
    </thead>
    <tbody id="rules-holder">
      {% for rule in rulesetForm.rules %}
        <tr>
          <td>{{ rule.vars.value.id }}</td>
          <td>{{form_widget(rule.condition)}}</td>
          <td>{{form_widget(rule.action)}}</td>
          <td><button class="remove-rule btn btn-danger btn-sm"><span class="fa fa-trash"></span></button></td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td><textarea data-codemirror='{"lineNumbers":true,"mode":"expression-language"}' id="new-rule-condition"></textarea></td>
        <td><textarea data-codemirror='{"lineNumbers":true,"mode":"expression-language"}' id="new-rule-action"></textarea></td>
        <td><button id="add-rule" class="btn btn-primary btn-sm"><span class="fa fa-plus"></span></button></td>
      </tr>
    </tfoot>
  </table>
  <template id="new-rule-template">
    <tr>
      <td></td>
      <td><textarea data-codemirror='{"lineNumbers":true,"mode":"expression-language"}' name="rule_set[rules][__index__][condition]"></textarea></td>
      <td><textarea data-codemirror='{"lineNumbers":true,"mode":"expression-language"}' name="rule_set[rules][__index__][action]"></textarea></td>
      <td><button class="remove-rule btn btn-danger btn-sm"><span class="fa fa-trash"></span></button></td>
    </tr>
  </template>
</div>
