{% extends 'admin/index.html.twig' %}

{% block style %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('vendor/codemirror/lib/codemirror.css') }}">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      {% set ruleset_title = 'admin.rules.' ~ ruleset.name ~ '_rules' %}
      <h3>{{ ruleset_title|trans }}</h3>
      {{ form_start(rulesetForm) }}
      {% include 'admin/rules/_rules.html.twig' %}
      {% do rulesetForm.rules.setRendered %}
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right clearfix">
            {{ form_end(rulesetForm, {"render_rest": true}) }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ 'admin.rules.documentation'|trans }}</h3>
    </div>
  </div>
  {{
    appendScript([
      'vendor/codemirror/lib/codemirror.js',
      'vendor/codemirror/addon/mode/simple.js',
      'js/codemirror-expression-language-mode.js',
      'js/admin-rules.js'
    ])
  }}
{% endblock %}
